[submodule "build/reimagine"]
	path = build/reimagine
	url = https://github.com/danzatt/reimagine.git
[submodule "build/image3maker"]
	path = build/image3maker
	url = https://github.com/darwin-on-arm/image3maker.git
[submodule "build/iBoot32Patcher"]
	path = build/iBoot32Patcher
	url = https://github.com/NyanSatan/iBoot32Patcher.git
[submodule "build/CBPatcher"]
        path = build/CBPatcher
        url = https://github.com/JonathanSeals/CBPatcher.git
[submodule "IDA\ Stuff\tools/diaphora"]
        path = IDA\ Stuff/tools/diaphora
        url = https://github.com/joxeankoret/diaphora.git
